{{- $width := .Get "width" | default "100%" -}}
{{- $height := .Get "height" | default "30rem" -}}
{{- $id := printf "echarts-%d" now.UnixNano -}}
{{- $cdn := "https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js" -}}

<script>
(function() {
    var containerId = '{{ $id }}';
    var chartOption = {{ .Inner | safeJS }};

    function renderEcharts() {
        var dom = document.getElementById(containerId);
        if (dom && typeof echarts !== 'undefined') {
            var myChart = echarts.init(dom);
            myChart.setOption(chartOption);
        }
    }

    if (typeof echarts !== 'undefined') {
        renderEcharts();
    } else {
        var script = document.createElement('script');
        script.src = '{{ $cdn }}';
        script.onload = renderEcharts;
        document.head.appendChild(script);
    }
})();
</script>
<div id="{{ $id }}" style="width: {{ $width }}; height: {{ $height }};"></div>
